@model FragranceAllViewModel


    

@if (User.IsAdmin())
{
    <a asp-area="" asp-controller="Fragrance" asp-action="Edit" asp-route-id="@Model.Id"
   class="btn btn-warning">Edit</a>
    <a asp-area="" asp-controller="Fragrance" asp-action="Delete" asp-route-id="@Model.Id"
   class="btn btn-danger">Delete</a>
}
