@model IEnumerable<IndexViewModel>

<!DOCTYPE html>
<html>
<head>
	<title> Fragrance Shop </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-s3r//gGbVFLmCCEf9/l4Tp+o6H5TmoBs+nlghIdb8+U24NJphx3LR7IpzH9B3zScFc0dMi9ufc5L7bA40WhrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #my-container {
            margin-top: 100px;

            }
        .carousel-item img {
            width: 800px;
            height: 330px;
            object-fit: cover;
        }

    </style>
</head>
<body>
    <header class="text-dark text-center py-4">
		<h1> Fragrance Shop </h1>
	</header>

    <div class="container-fluid w-50 h-50 bottom id="my-container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.pinimg.com/564x/c3/f2/d3/c3f2d34181b5486cc4838a61a8b76571.jpg" class="-block img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Creed Aventus</h5>
                        <p>Unrivaled Elegance: Creed Aventus – Timeless Luxury, Captivating Essence.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/564x/c2/4c/6b/c24c6b9038b58d73d9e38d6a4d636a0f.jpg" class="-block img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>1 Million</h5>
                        <p>Scaptivating Brilliance, Mesmerizing Aura – A Perfume Masterpiece..</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/564x/d6/38/b6/d638b652b71f45ece2f2e9beba8410c6.jpg" class="-block img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Bleu de Chanel</h5>
                        <p>Iconic Fashion, Elegance, Unparalleled Sophistication, Legendary Perfumes.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" style="color: grey" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-0o2wp6gqYiZmpHlN3Pe0f9nKQ2vQKhaGjW9elgCpEI6/GdHHlPckWfu6qMd2zDx4pD9pIueipPwrOp5oLo1Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
